@model IEnumerable<BTL_CNPM.Models.Product>
@{
    ViewBag.Title = "Index";
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}
<head>
    <style>
        .card {
            width: 250px;
            border-radius: 5px;
            padding: 10px;
            /*top left right bot color*/
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s
        }

            .card:hover {
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
            }

        img {
            border-radius: 5px 5px 0 0;
        }

        #magincard {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px
        }
    </style>
</head>
<h2>Order Food</h2>

<br />

<a href="/Home/Index">
    <btn class="btn btn-default">All</btn>
</a>

<a href="/Home/Index_combo">
    <btn class="btn btn-default">Combos</btn>
</a>

<a href="/Home/Index_mdish">
    <btn class="btn btn-default">Main Dishes</btn>
</a>

<a href="/Home/Index_snack">
    <btn class="btn btn-default">Snacks</btn>
</a>

<a href="/Home/Index_drink">
    <btn class="btn btn-default">Drinks</btn>
</a>


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            if (item.Pro_Type == "M")
            {
                string temp = item.IDPro.ToString();

                <div class="col-sm-6 col-md-4 col-lg-3" id="magincard">
                    <div class="card">
                        @Html.DisplayFor(model => item.ProName)
                        <img src="@Url.Content(item.Pro_Image)" style="height:200px;width:200px;margin:10px" />
                        Price: @Html.DisplayFor(model => item.Pro_Price) VND
                        <br />
                        <a class="btn" data-toggle="modal" data-target="#@temp">
                            <btn class="btn btn-default">Detail</btn>
                        </a>
                        <a href="/ShopingCart/Addtocart/@item.IDPro">
                            <img src="@Url.Content("~/Content/Image/Cart1.png")" style="width:50px;height:40px" />
                        </a>
                    </div>
                </div>

                <div class="modal fade" id="@temp">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button data-dismiss="modal" class="close">
                                    <span>&times;</span>
                                </button>
                                <div class="modal-title"> ADD TO CART </div>
                            </div>

                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="@Url.Content(item.Pro_Image)" style="height:150px;width:150px;margin:10px" />
                                        </div>
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    ID: @item.IDPro
                                                </div>
                                                <div class="col-md-5">
                                                    Unit Price: @item.Pro_Price VND
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    Name: @item.ProName
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    Description: @item.Pro_Des
                                                </div>

                                            </div>

                                            <div class="row">

                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <a href="/ShopingCart/Addtocart/@item.IDPro">
                                    <btn class="btn btn-primary">Choose</btn>
                                </a>
                                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>

                        </div>
                    </div>


                </div>
            }


        }
    </div>
</div>


